@import "tailwindcss";

@import "../styles/index.css";

@utility my-container {
  width: 100%;
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0;

  @media (max-width: 1023px) {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
